@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr:#222533;
    --text-clr:#e6e6ef;
    --accent-clr:#5e63ff;
    --secondary-text-clr:#b0b3c1;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{overflow-y: scroll;}
body, h1, p, ul, li{
    margin: 0;
    padding:0;
    font-family: 'Oppins, sans-serif';
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    background-image: url("screenshots/avatar.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: hidden;
    display:flex;
    flex-direction: column;
}
#newsidebar{
    box-sizing: border box;
    height: 100vh;
    width: 340px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    border-right: 1 px solid var(--line-clr);
    position: sticky;
    top: 0;
    border-radius: 10px;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: auto;
    text-wrap: nowrap;
    scrollbar-width: thin;
    h4{color: var(--accent-clr);}

}
#newsidebar.close{
    padding: 5px;
    width: 48px;
    
}
#newsidebar li{
    list-style: none;
}
#newsidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    .logo{
        font-weight: 600;
        
    }
}
#newsidebar {ul li.active a{
    color: var(--accent-clr);
    svg{
        fill: var(--accent-clr);
    }
}
}
#newsidebar a,#newsidebar .dropdown-btn, #newsidebar .logo{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    align-items: center;
    display: flex;
    gap: 1em;
}
.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}
#newsidebar svg{
    flex-shrink: 0;
    fill: var(--text-clr);

}
#newsidebar a span, #snewidebar .dropdown-btn span{
    flex-grow: 1;
}
#newsidebar a:hover, #newsidebar .dropdown-btn:hover{
    background-color: var(--hover-clr);
}

#newsidebar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
    
    
    > div{
        overflow: hidden;
    }
}

#newsidebar .sub-menu.show{
    grid-template-rows: 1fr;
}
.rotate svg:last-child{
    rotate: 180deg;    
}
.dropdown-btn svg{
    transition: 200ms ease;
}
#newsidebar .sub-menu a{
    padding-left: 2em;
    
}
#toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg{
        transition: rotate 150ms ease;
    }
}
#toggle-btn:hover{
    background-color: var(--hover-clr);
}
#mini{
    opacity: 0;
}
.header{
    font-size: 2rem;
    text-align: center;
    color: white;
    background-color: rgba(91, 87, 130, 0.43);
    padding: 10px;
    
}

.logo-details{
    height: 60px;
    width: 100%;
    position: absolute;
    align-items: center;
    top: 0;
    display: flex;
    flex-direction: row;
    left: 0;    
}
.logo-details img{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    
}
    .logo-details img:hover{
        transform: scale(1.3);
        transition: 0.3s;
}
    .logo-details .logo_name{
        font-size: 22px;
        color: #fff;
        font-weight: 600;
        margin-left: 15px;
}
    .logo_content a{
        text-decoration: none;
}
    .logo-details .logo_content:hover{
        transform: scale(1.1);
        transition: 0.2s;
}
/* Basic styles for the search box container */
.sidebar .wrapper{
    width: max-content;
    display: flex;
    align-items: center;
    margin:  auto;
} 
/* alastulobaarin taustanäkymä*/
.sidebar ul .wrapper .search-input{
    position: relative;
    height: 100%;
    width: 80%;
    font-size: 16px;
    margin-left: var(--padding);
}

.sidebar .wrapper .search-input{
    position: relative;
   
    box-shadow: 1px 5px 5px 1px black;
    background: white;
    border-radius: 16px;
    outline: none;
    box-shadow: 0px 1px 5px 3px black;
    padding: 1px;
    margin: 2px;
}



/* ---------------------------------------------------SEARCHBAR------------------------------------------------ */
input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: rgb(0, 0, 0);
  }
.search-container{
    padding: 5px;
    margin: 1px;
}
.search-container #search-bar{
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    background-color: rgb(227, 226, 226);
    
}
::placeholder{
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.search-container #search-bar .suggestions{
    background: white;
    position: absolute;
    top: 100%;
    width: 100%;
    border: 1px solid red;
    z-index: 2000;
    max-height: 150px;
    overflow-y: auto;
    color: rgb(0, 0, 0);
}
.suggestions div{
    padding: 8px;
    cursor: pointer;
    background: white;
    border-bottom: 2px solid rgb(0, 0, 0);
    
}
.suggestions div:hover, .suggestions .active{
    background-color: rgb(181, 181, 181);
}

/*  Sidebar links background etc */


.container{
    display: grid;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 15px 15px 15px 250px;
    opacity: 1px;
    border: 1px solid var(--line-clr);
    border-radius: 1em;
    margin-left: 30px;
    grid-template-columns: 1fr auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(158, 21, 21);
    justify-self: center;
    h2, p{margin-top: 1em};
} 
.box{
    padding: 20px;
    position: grid;
    border-radius: 5px;
    max-width: 1000px;
    height: auto;
    margin: 10px;
    grid-template-columns: 1fr auto;
}

.container p{
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    text-align: center;
}
.box, h1, h2{
    text-align: center;
}
.container img{
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
    text-align: center;
    margin: auto;
}
.container img:hover{
    transform: scale(1.3);
    transition: 0.2s;
}
.container a img{
    width:40px;
    height:40px;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}
.box1{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(158, 21, 21);
    max-width: 1100px;
    align-self: center;
    justify-items: center;
    margin: auto;
}
.container .box1 img{
max-width: 1000px;
max-height: 1000px;
}
.box1 h1, h2 {
    text-align: center;
    justify-content: center;
}
.box1 p{
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    text-align: center;
}

/*-------------------------------------------------- Media stuff for phones ----------------------------------- */
@media only screen and (max-width: 1078px){
    .logo-details{
       left: -100%;
    }
}
@media only screen and (max-width: 768px){
    .logo-details{
       left: -100%;
    }
    body{
        background-size: 100% 100%;
    }
    .header {
        font-size: 1.5rem;
        padding: 8px;
    }
    .sidebar {
        position: absolute;
        top: 0;
        left: -100%;
        height: auto;
        width: 200px;
        transition: 2s;
    }
    .nav-links li {
        width: 150px;
        margin: 10px 0;
        position: relative;
    }
    .sidebar .nav-links{
        background: rgb(128, 128, 128);
        height: 100%;
        width: 100%;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        
    }
    .sidebar .nav-links li .sub-menu{
        position: absolute;
        width: fit-content;
        margin-top: 0;
        padding: 10px 20px;
        border-radius: 0 6px 6px 0;
        transition: all 0.3s ease;
        opacity: 0;
        pointer-events: none;
        overflow:scroll;
    }
    .sidebar .nav-links li .sub-menu a{
        font-size: 14px;
    }
    .sidebar .nav-links .iocn-links .links_name{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 14px;
    }
    .sidebar .nav-links li .sub-menu a:hover{
        opacity: 1;
}
   
    .active.sidebar.close .sub-menu {
        width: fit-content;
        position: fixed;
                
    }
    .active.sidebar.close{
        left: 0;
        pointer-events: fill;
        transition: 0.4s;
        opacity: 1;
        height: auto;
        width: 200px;        
    }
    .active.sidebar.close li{
       margin: 0;
       padding: 0;
    }
    .newsbox{
        max-width: 400px;
        max-height: 100%;
        
    }
    .newsbox p{
        font-size: 10px;
    }
    .newsbox h1{
        font-size: 16px;
    }

}

/* ------------------------------------------------- */





@media (max-width: 800px){
    body{
        grid-template-columns: 1fr;
    }
    main{
        padding: 2em 1em 60px 1em;
    }
    .container{
        border: none;
        padding: 0;
    }
    #toggle-btn{
        margin-left: auto;
        padding: 1em;
        border: none;
        display:block;
        border-radius: .5em;
        background: none;
        cursor: pointer;
    
        svg{
            transition: rotate 150ms ease;
        }
    }
    #newsidebar{
        height: 100%;
        width: 1fr;
        border-top: 1px solid var(--line-clr);
        border-right: none;
        position: fixed;
        padding: 0;
        left: 0;

        >ul{
            padding: 0;
            display: grid;
            grid-auto-columns: 60px;
            grid-auto-flow: row;
            align-items: center;    
        }
        ul li{
            height: 100%;
        }
        ul a, ul .dropdown-btn{
            width: 60px;
            height: 60px;
            padding: 0;
            border-radius: 0;
            justify-content: center;
        }
        ul li .sub-menu.show{
            position: fixed;
            bottom: 60px;
            left: 0;
            box-sizing: border-box;
            width: 100%;
            height: 60px;
            background-color: var(--hover-clr);
            border-top: 1px solid var(--line-clr);
            display: flex;
            justify-content: center;

            >div{
                overflow: auto;
            }
            li{
                display: inline-flex;
            }
            a{
                box-sizing: border-box;
                padding: 1em;
                justify-content: center;
            }
        }
        
    }
    ul li span, ul li:first-child, .dropdown-btn svg:last-child{
        display: none;
    }
}