.sidebar{
    margin: 1px;
    padding: 1px;
    width: 240px;
    position: fixed;
    height: 90vh;
    top: 50px;
    border-radius: 20px;
   
}
.iocn-links .links_name{
    color: white;
    font-weight: 400;
    font-size: 18px;
}
.sidebar .nav-links{
    background: rgb(128, 128, 128);
    height: 100%;
    padding-top: 30px;
    justify-content: space-between;
    border-radius: 20px;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.3s ease;
}
.sidebar .nav-links li:hover{
    background: rgba(156, 153, 153, 0.71);
}
.sidebar .nav-links li .iocn-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar .nav-links li i{
    height: 50px;
    min-width:  78;
    text-align: center;
    line-height: 50px;
    color: #fff;
}
.sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
    transition: all 0.5s ease;
}

.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;   
}

.sidebar .nav-links li a .links_name{
font-size: 18px;
font-weight: 400;
color:#fff;

}
.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: rgb(128, 128, 128);
}
.sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 17px;
    padding: 5px 0;
    opacity: 1;
    white-space: nowrap;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu{
top: 0;
opacity: 1;
pointer-events: auto;
}
.sidebar .nav-links li .sub-menu .links_name{
display: none;
}
.sidebar.close .nav-links li .sub-menu .links_name{
    font-size: 18px;
    font-weight: 400;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank{
opacity: 1;
pointer-events: auto;
padding: 3px 20px 6 px 16px;
}

.sidebar .nav-links li:hover .sub-menu.blank{
top: 50%;
transform: translateY(50%);
}
.sidebar .social-media{
    position: fixed;
    bottom: 0;
}
.sidebar .social-media img{
    height:52px;
    width:52px;
    object-fit:cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: rgba(128, 128, 128, 0.71);
    padding: 10px;
}
.sidebar .media-content{
width: 100%;
height:100%;
top:0;
left: 0;
border-radius: 16px;
position: absolute;
background: grey;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
opacity: 0;
transition: 0.6s;
font-size: 14px;
color:white;

}
.sidebar .media-content:hover{
    opacity: 1;

}
/*-------------------------------------------------- Media stuff for phones ----------------------------------- */
@media only screen and (max-width: 1078px){
    .logo-details{
       left: -100%;
    }
}
@media only screen and (max-width: 768px){
    .logo-details{
       left: -100%;
    }
    body{
        background-size: 100% 100%;
    }
    .header {
        font-size: 1.5rem;
        padding: 8px;
    }
    .sidebar {
        position: absolute;
        top: 0;
        left: -100%;
        height: auto;
        width: 200px;
        transition: 2s;
    }
    .nav-links li {
        width: 150px;
        margin: 10px 0;
        position: relative;
    }
    .sidebar .nav-links{
        background: rgb(128, 128, 128);
        height: 100%;
        width: 100%;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        
    }
    .sidebar .nav-links li .sub-menu{
        position: absolute;
        width: fit-content;
        margin-top: 0;
        padding: 10px 20px;
        border-radius: 0 6px 6px 0;
        transition: all 0.3s ease;
        opacity: 0;
        pointer-events: none;
        overflow:scroll;
    }
    .sidebar .nav-links li .sub-menu a{
        font-size: 14px;
    }
    .sidebar .nav-links .iocn-links .links_name{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 14px;
    }
    .sidebar .nav-links li .sub-menu a:hover{
        opacity: 1;
}
   
    .active.sidebar.close .sub-menu {
        width: fit-content;
        position: fixed;
                
    }
    .active.sidebar.close{
        left: 0;
        pointer-events: fill;
        transition: 0.4s;
        opacity: 1;
        height: auto;
        width: 200px;        
    }
    .active.sidebar.close li{
       margin: 0;
       padding: 0;
    }
}
.logo-details{
    left: -100%;
 }